obj/project.nuget.cache
obj/project.assets.json
obj/edi_testapp.csproj.nuget.g.targets
obj/edi_testapp.csproj.nuget.g.props
obj/edi_testapp.csproj.nuget.dgspec.json
obj/Debug/net8.0/refint/edi_testapp.dll
obj/Debug/net8.0/ref/edi_testapp.dll
obj/Debug/net8.0/edi_testapp.pdb
obj/Debug/net8.0/edi_testapp.GlobalUsings.g.cs
obj/Debug/net8.0/edi_testapp.genruntimeconfig.cache
obj/Debug/net8.0/edi_testapp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/edi_testapp.dll
obj/Debug/net8.0/edi_testapp.csproj.FileListAbsolute.txt
obj/Debug/net8.0/edi_testapp.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/edi_testapp.csproj.BuildWithSkipAnalyzers
obj/Debug/net8.0/edi_testapp.assets.cache
obj/Debug/net8.0/edi_testapp.AssemblyInfoInputs.cache
obj/Debug/net8.0/edi_testapp.AssemblyInfo.cs
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
.vs/edi_testapp/FileContentIndex/22d141ab-6d7e-4327-a75b-821f9e709f0e.vsidx
.vs/edi_testapp/FileContentIndex/76c2d981-894d-473e-b832-5467e255afac.vsidx
.vs/edi_testapp/FileContentIndex/9bd8969f-f580-497a-a1d5-cafbcac25380.vsidx
.vs/edi_testapp/v17/.futdcache.v2
.vs/edi_testapp/v17/.suo
.vs/edi_testapp/v17/DocumentLayout.backup.json
.vs/edi_testapp/v17/DocumentLayout.json
.vs/ProjectEvaluation/edi_testapp.metadata.v9.bin
.vs/ProjectEvaluation/edi_testapp.projects.v9.bin
.vs/ProjectEvaluation/edi_testapp.strings.v9.bin
bin/Debug/net8.0/edi_testapp.deps.json
bin/Debug/net8.0/edi_testapp.dll
bin/Debug/net8.0/edi_testapp.exe
bin/Debug/net8.0/edi_testapp.pdb
bin/Debug/net8.0/edi_testapp.runtimeconfig.json
.vs/edi_testapp/DesignTimeBuild/.dtbcache.v2
.vs/edi_testapp/FileContentIndex/9530a1e1-fd62-4b62-8a15-8f33e7e30a6e.vsidx
